
<h1 class="mb-2 mt-0 text-5xl font-medium leading-tight text-primary">
  Tickets
</h1>

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
            ID
        </th>
        <th scope="col" class="px-6 py-3">
            Request Number
        </th>
        <th scope="col" class="px-6 py-3">
        </th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <%= ticket.id %>
          </th>
          <td class="px-6 py-4">
              <%= ticket.request_number %>
          </td>
          <td class="px-6 py-4">
            <%= link_to "show", ticket %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
