<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              <th scope="col" class="px-6 py-3">
                  ID
              </th>
              <th scope="col" class="px-6 py-3">
                  Request Number
              </th>
              <th scope="col" class="px-6 py-3">
                Excavator company name
              </th>
            </tr>
          </thead>
          <tbody>
            <% @tickets.each do |ticket| %>
              <%= render 'tickets/shared/tr', ticket: ticket %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>