<h1 class="mb-2 mt-0 text-5xl font-medium leading-tight text-primary">
  Ticket #<%= @ticket.id %>
</h1>

<div class="map-container">
  <div id="map"></div>
</div>

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>     

<script>
  var map = L.map('map').setView([-81.13390268058475, 32.07206917625161], 5);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
var polygon = L.polygon([
[-81.13390268058475, 32.07206917625161],
[-81.14660562247929, 32.04064386441295],
[-81.08858407706913, 32.02259853170128],
[-81.05322183341679, 32.02434500961698],
[-81.05047525138554, 32.042681017283066],
[-81.0319358226746, 32.06537765335268],
[-81.01202310294804, 32.078469305179404],
[-81.02850259513554, 32.07963291684719],
[-81.07759774894413, 32.07090546831167],
[-81.12154306144413, 32.08806865844325],
[-81.13390268058475, 32.07206917625161]
]).addTo(map);

</script>

