<h1 class="mb-2 mt-0 text-5xl font-medium leading-tight text-primary">
  Ticket #<span><%= @ticket.request_number %></span>
</h1>

<div id="map"></div>

<script>
  var coords = JSON.parse('<%= @ticket.well_known_text.to_json %>')
  var map = L.map('map').setView(coords[0], 10);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  var polygon = L.polygon(coords).addTo(map);
</script>