<tr class="border-b dark:border-neutral-500">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= ticket.id %>
  </th>
  <td class="px-6 py-4">
    <%= link_to ticket.request_number, ticket, class: 'hover:underline text-blue-600' %>
  </td>
  <td class="px-6 py-4">
    <%= ticket.excavator&.company_name %>
  </td>
</tr>